{{extend 'layout.html'}}
 <script type="text/javascript">
function showDialog(){
   $("#divId").dialog("open");
   $("#modalIframeId").attr("src","{{=URL(request.application,'default',f='give_emp.html')}}");
   return false;
}

$(document).ready(function() {
   $("#divId").dialog({
           autoOpen: false,
           modal: true,
           height: 200,
           width: 400
       });
});
  </script>


<a href="" onclick="return showDialog()">Show the Dialog</a>

<div id="divId" title="Send Empathy">
    <iframe id="modalIframeId" width="100%" height="100%"
    marginWidth="0" marginHeight="0" frameBorder="0" scrolling="auto"
    title="Send Empathy"></iframe>
</div>
